<header>
  <div id="logo-control"><a id="logo-link" href="/">Developer Warehouse</a></div>
  <%- include("./navigation") %>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu"><%- include("./navigation") %></aside>
