<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head", {title: "Error!"}) %>
    <link rel="stylesheet" href="/styles/error.css">
  </head>
  <body>
    <%- include("../includes/header") %>
    <main>
      <h1>Not Authenticated</h1>
      <p>Please <a class="login-signup-link" href="/login">log in</a> to view this page!</p>
    </main>
  </body>
</html>
