<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head", {title: "Error!"}) %>
    <link rel="stylesheet" href="/styles/error.css">
  </head>
  <body>
    <%- include("../includes/header") %>
    <main>
      <h1>Page Not Found!</h1>
      <p>Unfortunately, we could not find the resourse. Please check your link or try again later!</p>
    </main>
  </body>
</html>
