<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head", {title: "Error!"}) %>
    <link rel="stylesheet" href="/styles/error.css">
  </head>
  <body>
    <%- include("../includes/header") %>
    <main>
      <h1>An error occurred!</h1>
      <p>Something went wrong - please try again later!</p>
    </main>
  </body>
</html>
