form {
  margin: var(--space-6) auto;
  padding: var(--space-4);
  max-width: 45rem;
  background-color: #E0EAFB;
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-medium);
}

label {
  margin: var(--space-1);
  font-weight: 500;
  font-size: 1.25rem;
  display: block;
}

input {
  width: 20rem;
  font: inherit;
  padding: var(--space-1);
  border-radius: var(--border-radius-small);
  border-color: var(--color-gray-300);
}

.form-control {
  margin-bottom: var(--space-4);
}
