main {
  margin-top: 6rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: var(--space-2) var(--space-4);
  height: 4.5rem;
  background-color: var(--color-primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: none;
}

header a {
  color: var(--color-primary-500-contrast);
}

#logo-control {
  max-width: 15%;
}

#logo-control a {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

#logo-control a:hover,
#logo-control a:active {
  text-decoration: none;
}

header a:hover,
header a:active,
#btn-link:hover,
#btn-link:active {
  text-decoration: underline;
  font-weight: 500;
}

#main-header {
  padding: var(--space-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header li {
  margin: 0 var(--space-4);
}

#logout-form {
  margin: 0;
  padding: 0;
  max-width: 10rem;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
}

#btn-link {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-primary-500-contrast);
  cursor: pointer;
}

#mobile-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
}

#mobile-menu-btn span {
  background-color: var(--color-primary-main-bg);
  height: 0.2rem;
  width: 2.25rem;
}

#mobile-menu {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: calc(100vg - 5rem);
    background-color: var(--color-primary-main-bg);
    color: var(--color-font-main);
}

#mobile-menu nav {
    height: 100%;
}

#mobile-menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 48rem) {
  main {
    margin: auto;
  }
  header {
    position: static;
    padding: var(--space-2) var(--space-6);
  }

  header nav {
    display: block;
    margin: 0 var(--space-6);
  }

  #mobile-menu-btn {
    display: none;
  }

  #mobile-menu {
    display: none;
  }
}
