main {
  text-align: center;
}

.link-control {
  height: 100%;
  margin: var(--space-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-mgmt-section {
  width: 40%;
  max-width: 20rem;
  margin: var(--space-4) auto;
}

#all-products-grid {
  padding-left: 0;
  margin: var(--space-6) auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: var(--space-4);
}

.product-item {
  background-color: var(--color-white);
  text-align: center;
  /* border: 2px solid var(--color-primary-blue); */
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
}

.product-item--content h2 {
  font-size: 1.2rem;
  margin: var(--space-2);
  font-weight: 400;
}

.product-item--content h3 {
  font-size: 1rem;
  margin: var(--space-1);
}

.product-item--actions {
  padding: var(--space-2);
  display: flex;
  justify-content: center;
  gap: var(--space-1);
}

.grid-btn {
  padding: var(--space-2) var(--space-4);
}

.add-cart-btn {
    background-color: var(--color-primary-blue);
    border: var(--color-primary-blue);
    color: var(--color-white);
}

.add-cart-btn:hover, .add-cart-btn:active {
    background-color: var(--color-btn-hover);
    border: var(--color-btn-hover);
}

#product-details section {
  margin-top: var(--space-8);
  background-color: var(--color-slightly-blue-bg);
}

#product-details img {
  width: 80%;
  height: 10rem;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
}

#product-content {
    padding: var(--space-8);
    text-align: center;
}

#product-description {
    background-color: var(--color-slightly-blue-bg);
    padding: var(--space-4) 0;
    white-space: pre-wrap;
}

@media (min-width: 48rem) {
  #product-details section {
    display: flex;
    gap: var(--space-8);
  }

  #product-details img {
    width: 25rem;
    height: 20rem;
    outline: none;
  }

  #product-content {
    text-align: left;
  }
}
