h1 {
    text-align: center;
  }

form {
    padding: var(--space-6);
}

.form-control {
    width: 100%;
}

input {
    width: 100%;
}

textarea {
    font: inherit;
    width: 100%;
    resize: vertical;
}

.btn-reset {
    margin-right: var(--space-2);
}

.image-control {
    display: flex;
    align-items: center;
}

#image {
    max-width: 15rem;
}

#image-preview {
    display: none;
    width: 7rem;
    height: 7rem;
    border-radius: var(--border-radius-small);
    object-fit: contain;
}