<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../includes/head", {title: "Developer Warehouse"}) %>
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/auth.css" />
  </head>
  <body>
    <%- include("../../includes/header") %>
    <main>
      <h1>All Products!</h1>
      <p>Here should be a list of existing products!</p>
    </main>
  </body>
</html>
